        		<li class="has-children">
                    <a href="#">Categories</a>
                    <ul class="dropdown">
                      {% for category in categories %}
                        <li><a href="{{url('app_category', {'categoryId' : category.slug })}}">{{category.name}}</a></li>
                   {% endfor %}
                    </ul>
                </li>